.kanban-board {
  max-width: 1000px;
  margin: 0 auto;

  .bucket-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .bucket-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .bucket {
        background-color: var(--color-bg-darker);
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 2px 10px;
        font-weight: 500;
        .bucket-options {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }

      button {
        margin-left: 10px;
        padding: 0 5px;
      }

      .bucket-tasks {
        display: flex;
        flex-direction: column;
        gap: 2px;
      }
    }
  }
}
