.code-gen-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  font-family: monospace;
  font-size: 17px;
  line-height: 90%;
  white-space: pre-wrap;
  word-break: break-all;

  background-color: var(--color-bg);
  color: #14161b;

  z-index: 1;

  .code-gen-back-char {
    &.color-highlight {
      opacity: 0.3;
    }
    &.background-highlight {
      opacity: 0.2;
    }
  }
}
