.kanban-board {
  max-width: 1000px;
  margin: 0 auto;
}


.status-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.status-cards {
  padding: var(--spacing-lg);
  display: flex;
  flex-direction: column;
}

.temp-card-wrapper {
  .card {
    border: 2px dashed var(--color-primary);
    background: var(--color-bg-input);
    opacity: 0.8;

    .card-title,
    .card-description {
      &.empty-description {
        color: var(--color-text-muted);
        font-style: italic;
      }
    }
  }
}

