.task {
  display: flex;
  gap: 20px;
  padding: 0 10px;

  .task-header {
    display: flex;
    align-items: flex-start;
    padding: 0 10px;
    width: 20px;

    .task-id {
      font-size: 12px;
      font-weight: bold;
    }

    .card-actions {
      display: flex;
      gap: 10px;
    }
  }

  .task-content {
    flex-grow: 1;
    .card-description {
      &:focus {
        outline: none;
      }
    }

    .card-title {
      &:focus {
        outline: none;
      }
    }
  }

  .card-description {
    width: 100%;
    min-height: 1em;
    &:focus {
      outline: none;
    }
  }
}
