.task {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 0 10px;

  .task-header {
    padding: 0 10px;
    width: 130px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
  }

  .task-content {
    flex-grow: 1;
    .card-description {
      &:focus {
        outline: none;
      }
    }

    .card-title {
      &:focus {
        outline: none;
      }
    }
  }

  .card-description {
    width: 100%;
    min-height: 1em;
    &:focus {
      outline: none;
    }
  }
}
